<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/index.css?{{ content_version }}" />
  <script>
    var user_info = {{ user_info }};
  </script>
  <script language="javascript" src="https://ajax.googleapis.com/ajax/libs/prototype/1.7.0.0/prototype.js"></script>
  <script language="javascript" src="static/index.js?{{ content_version }}"></script>
  <title>babbledrive</title>
</head>
<body>

<div id="header">
  <div id="libraryheader">
    <div id="librarybutton">
      <div class="icon"></div>
      <div class="text"></div>
    </div>
  </div>
  <div id="contentheader"></div>
  <div id="links">
    {% if is_logged_in %}
      <span class="username">{{ nickname|escape }}</span>
      <a href="{{ logout_url|escape }}">sign out</a>
    {% else %}
      <a href="{{ login_url|escape }}">sign in</a>
    {% endif %}
    <a href="static/welcome.html?{{ content_version }}" target="contentframe">welcome</a>
    <a href="https://github.com/davidsansome/babbledrive">source</a>
  </div>
</div>

<div id="sidebar">
  <input id="search" type="text" autocomplete="off" placeholder="search"></input>
  <div id="searchresults"></div>
</div>

<div id="content">
  <iframe name="contentframe" id="contentframe" src="static/welcome.html?{{ content_version }}"></iframe>
</div>

<div id="library" style="display: none;">
  <p>Choose the documentation you want to see in the search results.
    {% if not is_logged_in %}
      <a href="{{ login_url|escape }}">Sign in</a> to save.
    {% endif %}
  </p>
  <div id="librarycontents"></div>
</div>

</body>
</html>
