body {
  font-size: smaller;
  font-family: sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 25px;

  /* Background gradient */
  background-color: #c3d9ff; /* old browsers */
  background: -moz-linear-gradient(top, #c3d9ff 0%, #b1c8ef 41%, #98b0d9 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c3d9ff), color-stop(41%,#b1c8ef), color-stop(100%,#98b0d9)); /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3d9ff', endColorstr='#98b0d9',GradientType=0 ); /* ie */
}

#sidebar {
  position: absolute;
  top: 25px;
  left: 0px;
  bottom: 0px;
  width: 250px;
  overflow: hidden;
}

#search {
  margin: 0px;
  border: 1px solid #C0C0FF;
  background: url(images/sprites.png) 0px -80px no-repeat;
  width: 100%;
  height: 22px;
  padding-left: 18px;
  padding-right: 2px;
}

#searchresults {
  position: absolute;
  top: 22px;
  bottom: 0px;
  left: 0px;
  width: 249px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #C0C0FF;
}

#searchresults ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#searchresults li {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: nowrap;
}

#searchresults li:hover {
  background-color: #F5F5FF;
  cursor: pointer;
}

#searchresults li.selected {
  background-color: #F0F0FF;
  border-top: 1px solid #A0A0FF;
  border-bottom: 1px solid #A0A0FF;
}

#searchresults li .icon {
  width: 16px;
  height: 16px;
  float: left;
  margin: 0px 2px 0px 2px;
}

#searchresults li.attribute   .icon { background: url(images/sprites.png) 0px -118px no-repeat; }
#searchresults li.cfunction   .icon { background: url(images/sprites.png) 0px -102px no-repeat; }
#searchresults li.class       .icon { background: url(images/sprites.png) 0px -0px   no-repeat; }
#searchresults li.classmethod .icon { background: url(images/sprites.png) 0px -102px no-repeat; }
#searchresults li.cmacro      .icon { background: url(images/sprites.png) 0px -48px  no-repeat; }
#searchresults li.cmember     .icon { background: url(images/sprites.png) 0px -118px no-repeat; }
#searchresults li.ctype       .icon { background: url(images/sprites.png) 0px -0px   no-repeat; }
#searchresults li.cvar        .icon { background: url(images/sprites.png) 0px -118px no-repeat; }
#searchresults li.data        .icon { background: url(images/sprites.png) 0px -16px  no-repeat; }
#searchresults li.exception   .icon { background: url(images/sprites.png) 0px -0px   no-repeat; }
#searchresults li.function    .icon { background: url(images/sprites.png) 0px -102px no-repeat; }
#searchresults li.method      .icon { background: url(images/sprites.png) 0px -102px no-repeat; }
#searchresults li.mod         .icon { background: url(images/sprites.png) 0px -0px   no-repeat; }

span.highlight {
  background-color: rgba(255, 255, 200, 0.75);
}

#content {
  position: absolute;
  top: 25px;
  left: 250px;
  bottom: 0px;
  right: 0px;
}

#contentframe {
  border: 0px;
  width: 100%;
  height: 100%;
}

#contentheader {
  color: black;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  top: 4px;
  right: 10em;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  left: 250px;
}

#links {
  position: absolute;
  right: 0px;
  top: 3px;
}

#links a {
  margin-right: 0.75em;
  color: #336ac9;
}

#links .username {
  margin-right: 0.75em;
  color: #336ac9;
  opacity: 0.5;
}

#libraryheader {
  left: 0px;
  top: 0px;
  height: 25px;
  width: 220px;
}

#libraryheader.down {
  background-color: #ffd65e;
}

#librarybutton {
  z-index: 1;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 4px;

  height: 25px;
}

#librarybutton:hover, #libraryheader.down #librarybutton {
  cursor: pointer;
  color: black;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

#librarybutton .icon {
  background: url(images/sprites.png) 0px -32px no-repeat;
  float: left;
  width: 16px;
  height: 16px;
  margin: 0px 4px 0px 4px;
}

#library {
  position: absolute;
  z-index: 100;
  top: 25px;
  left: 0px;
  width: 600px;
  height: 300px;
  padding: 0px 1em 1em 1em;

  background: #ffd65e;
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
  background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%);
  background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%);
  background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
  background: linear-gradient(top, #ffd65e 0%,#febf04 100%);

  border-width: 0px 1px 1px 0px;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 40px;
  clip: rect(0px, 650px, 350px, 0px);
}

#library a {
  color: #0094ff;
  text-shadow: #b1c8ef 1px 1px 5px;
  font-weight: bold;
}

#librarycontents {
  overflow: auto;
  height: 253px;
}

#library .package {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 0.25em;
  padding: 0.1em;
  height: 22px;
  opacity: 0.75;
  border-radius: 4px;
  cursor: pointer;
}

#library .package.enabled, #library .package:hover {
  opacity: 1.0;
  background: rgba(255, 255, 255, 0.5);
}

#library .package.enabled {
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
}

#library .package input {
  cursor: pointer;
  vertical-align: middle;
  width: 24px;
  height: 22px;
  margin: 0px;
}

#library .package .name {
  vertical-align: middle;
}

#library .package .version {
  vertical-align: middle;
  margin-left: 0.5em;
  font-weight: normal;
  opacity: 0.5;
}

